Source: mmlib
Section: libs
Priority: optional
Maintainer: Nicolas Bourdaud <nicolas.bourdaud@gmail.com>
Build-Depends: debhelper-compat (= 13),
 meson, gettext, check,
 python3-sphinx, python3-sphinx-rtd-theme, python3-sphinx-linuxdoc
Rules-Requires-Root: no
Standards-Version: 4.5.1
Vcs-Git: https://review.gerrithub.io/mmlabs-mindmaze/mmlib
Vcs-Browser: https://github.com/mmlabs-mindmaze/mmlib
Homepage: https://github.com/mmlabs-mindmaze/mmlib

Package: libmmlib1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: mmlib-l10n
Description: mmlib library (shared lib)
 mmlib is the general purpose library providing helper functions to other
 module. It provides a cross-platform OS abstaction layer as well as facilities
 like logging or error reporting.
 .
 This package contains the shared library

Package: libmmlib-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Breaks: libmmlib0 (<< 0.0.1)
Depends: libmmlib1 (= ${binary:Version}), ${misc:Depends}
Recommends: mmlib-doc
Description: mmlib library (Development files)
 mmlib is the general purpose library providing helper functions to other
 module. It provides a cross-platform OS abstaction layer as well as facilities
 like logging or error reporting.
 .
 This package contains the files needed to compile and link programs which
 use mmlib. The manpages are shipped in this package.

Package: mmlib-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Built-Using: ${sphinxdoc:Built-Using}
Breaks: libmmlib-dev (<< 1.3.0)
Replaces: libmmlib-dev (<< 1.3.0)
Description: mmlib documentation
 mmlib is the general purpose library providing helper functions to other
 module. It provides a cross-platform OS abstaction layer as well as facilities
 like logging or error reporting.
 .
 This package contains the html doc and examples of mmlib.

Package: mmlib-l10n
Section: localization
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Replaces: libmmlib0
Breaks: libmmlib0
Description: mmlib library (translations)
 mmlib is the general purpose library providing helper functions to other
 module. It provides a cross-platform OS abstaction layer as well as facilities
 like logging or error reporting.
 .
 This package contains the localization components of mmlib.
