Source: mmlib
Section: libs
Priority: extra
Maintainer: Nicolas Bourdaud <nicolas.bourdaud@mindmaze.com>
Build-Depends: debhelper (>= 10), dh-autoreconf,
 pkg-config, gnulib, libltdl-dev, gettext, check,
 python3-sphinx, python3-sphinx-rtd-theme, python3-sphinx-linuxdoc
Standards-Version: 3.9.8
Vcs-Git: https://intranet.mindmaze.ch/bitbucket/scm/mmlab/mmlib.git
Vcs-browser:  https://intranet.mindmaze.ch/bitbucket/scm/mmlab/mmlib.git
Homepage: http://intranet.mindmaze.ch

Package: libmmlib1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mmlib library (shared lib)
 mmlib is the general purpose library providing helper functions to other
 module. It provides facilities for logging, error reporting and basic
 geometry.
 .
 This package contains the shared library

Package: libmmlib-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Breaks: libmmlib0 (<< 0.0.1)
Depends: libmmlib1 (= ${binary:Version}), ${misc:Depends}, ${sphinxdoc:Depends}
Built-Using: ${sphinxdoc:Built-Using}
Description: mmlib library (Development files)
 mmlib is the general purpose library providing helper functions to other
 module. It provides facilities for logging, error reporting and basic
 geometry.
 .
 This package contains the files needed to compile and link programs which
 use mmlib. The manpages and examples are shipped in this package.
