#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CONFFLAGS = --enable-warn-all=error

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	export DEB_CFLAGS_MAINT_APPEND=-O3
endif
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-Bsymbolic-functions

%:
	dh  $@ --with autoreconf,sphinxdoc

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_auto_clean:
	if [ -f Makefile ] ; then make maintainer-clean ; fi

override_dh_strip:
	dh_strip --dbg-package=libmmlib0-dbg

override_dh_compress:
	dh_compress --exclude=examples

override_dh_installdocs:
	dh_installdocs

override_dh_install:
	dh_install -X.la --fail-missing
