#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CONFFLAGS = 

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	export DEB_CFLAGS_MAINT_APPEND=-O3 -Wall -Wextra
else
	export DEB_CFLAGS_MAINT_APPEND=-Wall -Wextra
endif
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-Bsymbolic-functions

%:
	dh  $@ --with autoreconf

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_auto_clean:
	if [ -f Makefile ] ; then make maintainer-clean ; fi

override_dh_strip:
	dh_strip --dbg-package=libmmlib0-dbg

override_dh_installdocs:
	dh_installdocs --link-doc=libmmlib0

override_dh_install:
	dh_install -X.la --fail-missing

override_dh_auto_test:

